@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: black;
  --fav: #2d2d2d;
  --orange: #ff531c;
}

body {
  background: var(--orange);
  color: var(--black);
}

.topDiv {
  position: relative;
  width: 100%;
  padding: 100px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.topDiv span {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.inputDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.inputDiv input {
  width: 300px;
  height: 70px;
  padding: 0 20px;
  font-size: 1.2rem;
  background: #ffffff;
  border: 6px solid var(--black);
  box-shadow: 7px 7px 0px var(--black);
}

.topDiv button {
  position: absolute;
  top: 94%;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 50px;
  color: #2d2d2d;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  background: #ffffff;
  border: 4px solid var(--black);
  box-shadow: 4px 8px 0px var(--black);
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.topDiv button:active {
  box-shadow: none;
  margin: 8px 0 0 4px;
}

.bottomDiv {
  width: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
}

.bottomDiv > span {
  font-size: 2.5rem;
}

.gamesDiv {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
  padding: 50px;
}

.gamesDiv-column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

.gamesDiv-column > .game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #ffffff;
  border: 6px solid var(--black);
  box-shadow: 7px 7px 0px var(--black);
  margin-bottom: 20px;
}

.gamesDiv-column > .game span {
  text-align: left;
  padding: 20px 0;
  font-size: 20px;
  padding: 20px;
}

.gamesDiv-column > .game .btns {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  padding: 20px;
}

.gamesDiv-column > .game .btns svg {
  width: 36px;
  height: 36px;
}

@media only screen and (max-width: 768px) {
  .inputDiv {
    flex-direction: column;
    gap: 30px;
  }

  .inputDiv input {
    width: 300px;
    height: 70px;
    padding: 0 20px;
    font-size: 1.2rem;
    background: #ffffff;
    border: 6px solid var(--black);
    box-shadow: 7px 7px 0px var(--black);
  }
}

@media only screen and (max-width: 425px){
  .topDiv span , .bottomDiv > span{
    font-size: 1.5rem;
  }
}
