@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #2d2d2d;
}

.topDiv {
  width: 100%;
  padding: 100px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.topDiv span {
  color: #fff;
  font-size: 2.5rem;
}

.inputDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.inputDiv input {
  width: 300px;
  height: 50px;
  border-radius: 60px;
  border: none;
  padding: 0 20px;
  font-size: 1.2rem;
}

.topDiv button {
  width: 100px;
  height: 50px;
  border-radius: 60px;
  border: none;
  background-color: #fff;
  color: #2d2d2d;
  font-size: 1.2rem;
  cursor: pointer;
}

.bottomDiv {
  width: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.bottomDiv > span {
  color: #fff;
  font-size: 2.5rem;
}

.gamesDiv {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}

.gamesDiv-column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

.gamesDiv-column > .game{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  gap: 10px;
  background: #fff;
  box-shadow: 0 0 4px #fff;
  margin-bottom: 20px;
}

.gamesDiv-column > .game span{
  padding: 20px 0;
  font-size: 20px;
  padding: 5px;
}
